.quiz-card {
  background-color: rgb(66, 80, 237);
  padding: 10px;
  align-items: center;
  text-align: center;
  /* color: #f9f4f4; */
  margin: 3px;
  position: relative;
  border: 6px solid #db67dd;
  border-radius: 8px;
}

.quiz-card h3 {
  color: black;
}

.bookmark {
  position: absolute;
  top: -10px;
  right: 10px;
  background-color: #ffffff;
}

.bookmark img {
  width: 12px;
  height: 12px;
} 

.tags {
  position: absolute;
  bottom: 10px;
  /* left: 10px; */
  left: 5%;
  bottom: 5%;
  display: flex;
  gap: 4px;
  font-size: smaller;
}

.tag {
  background-color: #ffffff;
  color: rgb(16, 14, 14);
  padding: 2px;
  border-radius: 5px;
}

p {
  margin-bottom: 60px;
}

.hidden {
  display: none;
}

@media (max-width: 300px) {
  .tags {
    font-size: xx-small;
  }
}
