.quiz-card {
  background-color: rgb(66, 80, 237);
  padding: 10px;
  text-align: center;
  color: #f9f4f4;
  margin: 3px;
  position: relative;
  border: 6px solid #db67dd;
  border-radius: 8px;
  margin: 20px;
}

.quiz-card h3 {
  color: black;
}

.bookmark-icon {
  position: absolute;
  top: -15px;
  right: 10px;
  width: 40px;
}
.bookmark-icon.bookmarked {
  background-color: rgba(26, 255, 0, 0.5)
  /* needs fix */
  /* background-image: url('/resources/bookmark_filled.png'); */
}

.tags {
  position: absolute;
  bottom: 10px;
  /* left: 10px; */
  left: 5%;
  bottom: 5%;
  display: flex;
  gap: 4px;
  font-size: smaller;
}

.tag {
  background-color: #ffffff;
  color: rgb(16, 14, 14);
  padding: 2px;
  border-radius: 5px;
}

p {
  margin-bottom: 60px;
}
.hidden {
  display: none;
}

@media (max-width: 300px) {
  .tags {
    font-size: xx-small;
  }
}
