.fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f7f7;
}

  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.navbar img {
  width: 100px;
  height: auto;
}

.navbar img:hover {
  /* filter: opacity(0.5); didn't work, looks prettier though*/
  /* red-green-blue-alpha(which means opacity) */
  background-color: rgba(173, 173, 175, 0.5);
}

